* {
    margin: 0;
    padding: 0;
    box-sizing: padding-box;
}

.table {
    display: table;
    margin: 0 auto;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.table__row {
    display: table-row;
    border-bottom: 1px solid #ccc;
}

.table__row--head {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #08beff;
    box-shadow: 1px 0 6px 3px #ccc;
}

.table__cell {
    display: table-cell;
    padding: 10px;
    text-align: center;
}

.preloader {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
}

.none_data_info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    text-align: center;
    font-size: 35px;
}

.save_data_btn{
    position: fixed;
    width: 80px;
    height: 40px;
    right: 50px;
    top: 0;;
    border: none;
    color: white;
    background-color: #08beff;
    font-weight: bold;
    font-size: 12px;
}

.save_data_btn:hover{
    background-color: blue;
}